@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #fbffa7;
  --color-2: #b1c5ff;
  --color-3: #b6ffc0;
  --color-4: #ff764d;
  --color-5: #d5b3ff;
  --color-6: #0000ff;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
